<% if (site.categories.length) { %>
    <a class="twitter-timeline" href="https://twitter.com/HodlerStreet?ref_src=twsrc%5Etfw" data-tweet-limit="3" data-chrome="transparent">Tweets by HodlerStreet</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.categories') %></h3>
        <div class="widget">
            <%- list_categories() %>
        </div>
    </div> -->
<% } %>
