<% if (site.categories.length) { %>
    <a class="twitter-timeline" href="https://twitter.com/HodlerStreet?ref_src=twsrc%5Etfw" data-tweet-limit="3" data-chrome="transparent">Tweets by HodlerStreet</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5407250245383049",
        enable_page_level_ads: true
    });
    </script>


    <!-- <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.categories') %></h3>
        <div class="widget">
            <%- list_categories() %>
        </div>
    </div> -->
<% } %>
