<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit" style="text-align:center;">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo" style="width:55px !important;"></a>
                </h1>
                <a href="./privacypolicy.pdf" target="_blank"><b>Privacy Policy</b></a><br><br>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <script async src="//static.zotabox.com/4/7/4709f1ba3e2b968bc4226caca9dda1d1/widgets.js"></script>
</footer>