<style>
    .about {
        padding: 20px;
        text-align: justify;
    }
</style>
<div class="about">
    <h1 class="article-title" style="font-size: 4em;">About Us</h1><br>
    <p class="article-entry" style="font-size: 1.5em;">
        We're a community of cryptocurrency enthusiasts who are ardent followers of the <a href="https://www.activism.net/cypherpunk/manifesto.html"><b>Cypherpunk Manifesto</b></a>. We provide a safe space for all those who want to join the cryptocurrency space and find their path. Our goal is to raise awareness and educate people about cryptocurrency and it's necessary role in the society's well-being.
        <br><br>
        Our vision is decentralization of the whole governance system around the world and the shift of power back into the hands of the people, and we will do everything in our power to help achieve that.
    </p>
</div>