<style>
    .totop {
        position: fixed;
        bottom: 10px;
        right: 20px;
    }
    .totop a {
        display: none;
    }
    a, a:visited {
        color: #33739E;
        text-decoration: none;
        display: block;
        margin: 10px 0;
    }
    a:hover {
        text-decoration: none;
    }
    #loadMore {
        padding: 10px;
        text-align: center;
        background-color: #33739E;
        color: #fff;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #fff;
        box-shadow: 0 1px 1px #ccc;
        transition: all 600ms ease-in-out;
        -webkit-transition: all 600ms ease-in-out;
        -moz-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
    }
    #loadMore:hover {
        background-color: #fff;
        color: #33739E;
    }
</style>

<div style="width:100%;text-align:center;margin-top:20px;">
    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="100000000" marginheight="1000000000" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-21&marketplace=amazon&region=IN&placement=1250081556&asins=1250081556&linkId=5a4f845603ae9a72dfa34f7c55a50661&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B00J2B0KEO&asins=B00J2B0KEO&linkId=2c8951311eb9b15c71640cfade53a869&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B077RY4B1T&asins=B077RY4B1T&linkId=6e60dca435cde98598ce82467be0244e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B079QP2D91&asins=B079QP2D91&linkId=e3889ab696056c9147c1d6d170b5c34e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B077BNF6K7&asins=B077BNF6K7&linkId=626955d5c0bb842479650c6d032952be&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B0777J3FZ7&asins=B0777J3FZ7&linkId=288405e5715dd9558c406a86e7146412&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B0798MB5NB&asins=B0798MB5NB&linkId=ab34423b709de96f4ea7576b99a03a09&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B076X6D2V9&asins=B076X6D2V9&linkId=7ef7a0a937265fac0a98139097747ead&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

    <div id="show" style="margin:10px;display:inline-block;display:none;">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=hodlerstreet-20&marketplace=amazon&region=US&placement=B0791M923Z&asins=B0791M923Z&linkId=646f3d1dc7c296564cab0a58ab2ab0a4&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>

   
</div>

<a href="#" id="loadMore">Load More</a>

<p class="totop"> 
    <a href="#top">Back to top</a> 
</p>


<script>
    $(function () {
        $('div[id="show"]').slice(0, 4).css('display', 'inline-block');
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $('div[id="show"]:hidden').slice(0, 4).slideDown().css('display', 'inline-block');
            if ($('div[id="show"]:hidden').length == 0) {
                $("#loadMore").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });
    });

    $('a[href=#top]').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 600);
        return false;
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('.totop a').fadeIn();
        } else {
            $('.totop a').fadeOut();
        }
    });
</script>